{% extends 'base.html.twig' %}

{% set title = "Page introuvable :-(" %}

{% block body %}
	<div class="security-page">
		<div class="card security-form">
			<h1 class="card-title">{{ title }}</h1>
			<div class="card-body">
				<p>La page que vous cherchez n'a pas pu être trouvée...
					<br>
					<a href="{{ path('homepage') }}">
						Retour à l'accueil
					</a>
				</p>
			</div>
		</p>
	</div>
</div>{% endblock %}
